files:
  "/opt/elasticbeanstalk/hooks/preinit/01_sqlite_backup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # insert shell script which backs up sqlite to s3, something like the following:
      # set backup directory variables
      cd /var/app/current
      sqlite3 db/sillygoose.db .dump > sillygoose.db.dump
      tar -czf sillygoose.db.dump.gz sillygoose.db.dump

      # upload backup to s3
      aws s3 cp sillygoose.db.dump.gz s3://silly-goose-time-front/backend-backup/
