files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_sqlite_backup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # insert shell script which backs up sqlite to s3, something like the following:
      # set backup directory variables
      export NOWDATE='date +%Y-%m-%d'

      sqlite3 'db/sillygoose.db' '.dump' > 'db/dbbackup'

      cd db
      tar -czPf $NOWDATE-backup.tar.gz dbbackup
      cd ..
      # upload backup to s3
      touch 'test'
      aws s3 cp test s3://silly-goose-time-front/backend-backup/ --recursive
      aws s3 cp ./db/$NOWDATE-backup.tar.gz s3://silly-goose-time-front/backend-backup/ --recursive
      # check if these persist across deploys -
      # they shouldn't, but if they do, you don't have to backup to S3
      # (you also have to worry about filling up the disk).
