files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_sqlite_backup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # insert shell script which backs up sqlite to s3, something like the following:
      # set backup directory variables
      cd /var/app/current
      ls -al > test

      sqlite3 db/sillygoose.db .dump > sillygoose.db.dump
      tar -czPf sillygoose.db.dump sillygoose.db.dump.zip

      # upload backup to s3


      aws s3 cp test s3://silly-goose-time-front/backend-backup/
      aws s3 cp sillygoose.db.dump.zip s3://silly-goose-time-front/backend-backup/
