files:
  "/opt/elasticbeanstalk/hooks/postinit/02_sqlite_restore.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # insert shell script which backs up sqlite to s3, something like the following:
      # set backup directory variables

      cd /var/app/current
      mkdir -p db
      cd db
      # transfer backup from s3
      aws s3 cp s3://silly-goose-time-front/backend-backup/sillygoose.db.dump.gz .
      tar -xvf sillygoose.db.dump.gz
      rm sillygoose.db
      sqlite3 sillygoose.db < sillygoose.db.dump
